<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>hello</title>
	<script type="text/javascript" src="./scripts/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyDS5ci0gvRtGTuR54rtdo7fJ0HtP6lYWJM"></script>
	<script type="text/javascript" src="./scripts/index.js"></script>
	<link rel="stylesheet" href="css\base.css" type="text/css" media="screen">
</head>
<body>
	<br><br>
	<div id="Content">
		<div id="In-Map">
			<div id="Map-List">
				<ul>
					{for $i=0 to $data|@count - 1}
						<li>
<!--							<a href="next.php?index={$i}">{$data[$i][4]}</a> -->
							<a href="#map" onclick="fopenMarker({$i});">{$data[$i][4]}</a>
						</li>
					{/for}
				</ul>
			</div>
			<div id="Map-Body">
				<div id="mapField" style="width:750px; height:600px;"></div>
			</div>
		</div>
		<div id="route" style="width: 750px; height: 200px;overflow: scroll""></div>
	</div>
</body>
<footer>
	<div id="bottom">
		<table id="character"><tr><td>ここにマスコット</td><td id="Descrip">ここに説明</td></tr></table>

		<div id="buttons">
			<button tyep="button" id="button1" class="button">ボタン</button>
			<button type="button" id="button2" class="button">ボタン</button>
		</div>
	</div>
</footer>
</html>