<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>hello</title>
	<script type="text/javascript" src="./scripts/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyDS5ci0gvRtGTuR54rtdo7fJ0HtP6lYWJM"></script>
	<script type="text/javascript" src="./scripts/index.js"></script>
	<link rel="stylesheet" href="css\base.css" type="text/css" media="screen">
</head>
<body>
	<br><br>
	<div id="Content">
		<div id="In-Map">
			<div id="Map-List">
				<ul>
					{for $i=0 to $district|@count -1}
						<li style="padding:5px 7px 5px 7px; font-weight:900;">{$district[$i]}</li>
						{for $j=0 to $data|@count - 1}
							{if $district[$i] eq $data[$j][1]}
								<li>
									<a href="#map" onclick="fopenMarker({$i});" style="margin-left:10px;">{$data[$j][4]}</a>
								</li>
							{/if}
						{/for}
					{/for}
				</ul>
			</div>
			<div id="Map-Body">
				<div>
					<span>
						<table id="iconbox">
							<tr><th>
								<td><input type="image" id="routeicon" src="img/icon/icon1.png" title="徒歩で移動"></td>
								<td><input type="image" id="routeicon" src="img/icon/icon2.png" title="車で移動"></td>
							</th></tr>
						</table>
						<table id="radiationbox">
							<tr><th>
								<td id="radiation">周辺の放射線量</td>
								<td></td>
							</th></tr>
						</table>
					</span>
				</div>
				<div id="mapField" style="width:750px; height:590px;"></div>
				<table id="icondetail">
					<tbody>
					<tr>
						<th id="iconSet">アイコン区分
							<td id="icons"><img src="img/event/marker0.png"><text id="text0"></text></td>
							<td id="icons"><img src="img/event/marker1.png"><text id="text1"></text></td>
							<td id="icons"><img src="img/event/marker2.png"><text id="text2"></text></td>
							<td id="icons"><img src="img/event/marker3.png"><text id="text3"></text></td>
							<td id="icons"><img src="img/event/marker4.png"><text id="text4"></text></td>
						</th>
					</tr>
					<tr>
						<th class="iconSet">
							<td id="icons"><img src="img/event/marker5.png"><text id="text5"></text></td>
							<td id="icons"><img src="img/event/marker6.png"><text id="text6"></text></td>
							<td id="icons"><img src="img/event/marker7.png"><text id="text7"></text></td>
							<td id="icons"><img src="img/event/marker8.png"><text id="text8"></text></td>
							<td id="icons"><img src="img/event/marker9.png"><text id="text9"></text></td>
							<td id="icons"><img src="img/event/marker10.png"><text id="text10"></text></td>
						</th>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div id="route" style="width: 750px; height: 200px; overflow: scroll"></div>
		<table id="character"><tr><td id="gaiyou">イベント概要</td></tr><tr><td id="Descrip">アイコンを選択するとイベントの概要が表示されます。</td></tr></table>
		<button type="button" id="regist-btn">イベント登録</button>
	</div>
</body>

</html>