<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>イベント詳細画面</title>
		<script type="text/javascript" src="./scripts/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDS5ci0gvRtGTuR54rtdo7fJ0HtP6lYWJM"></script>
		<script type="text/javascript" src="./scripts/next.js"></script>
		<link rel="stylesheet" href="css\detail.css" type="text/css" media="screen">
	</head>
	<body>
		<div id="Content">
			<div id="title">{$data[4]}<div ida="kana">{$data[5]}</div></div>
			<div id="img">ここに画像</div>
			<div id="eventdata">{$data[8]}</div>
			<table id="eventdetail">
				<tr><td>開催地</td><td>{$data[11]}</td><td>郵便番号</td><td>{$data[10]}</td></tr>
				<tr><td>開催日</td><td>{$data[13]}</td><td>電話番号</td><td>{$data[9]}</td></tr>
				<tr><td>開催期間</td><td>{$data[14]}</td></tr>
			</table>
			<div id="location" hidden="hidden" data-lat="{$data[6]}" data-lon="{$data[7]}"></div>
		</div>
		<!--<ul> csvの中身を順に出力している
			{foreach from=$data item=d}
				<li>{$d}</li>
			{/foreach}
		</ul>-->
		<div id="Map-Body">
			<div id="mapField" style="width:730px; height:600px;"></div>
		</div>
		<div>
			<div>周辺情報</div>
			<div>
				<button class="placeSearch-btn" type="button" data-types="convenience_store">コンビニ</button>
				<button class="placeSearch-btn" type="button" data-types="cafe">カフェ</button>
				<button class="placeSearch-btn" type="button" data-types="bus_station">バス停</button>
			</div>
		</div>
	</body>
</html>