<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>イベント詳細画面</title>
		<script type="text/javascript" src="./scripts/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDS5ci0gvRtGTuR54rtdo7fJ0HtP6lYWJM"></script>
		<script type="text/javascript" src="./scripts/next.js"></script>
		<link rel="stylesheet" href="css\detail.css" type="text/css" media="screen">
	</head>
	<body>
		<br><br>
		<div id="Content">
			<div><a href="index.php">ホーム</a> &gt; {$data[4]}</div>
			<div id="title">{$data[4]}</div>
			<div id="buttons">
				<button tyep="button" id="button1" class="button">ボタン</button>
				<button type="button" id="button2" class="button">ボタン</button>
			</div>
			<div id="img">
				<blockquote data-width="500" data-height="375" class="ricoh-theta-spherical-image" >David Cafuta - <a href="https://theta360.com/spheres/samples/2bccbf6a-89ee-11e6-bbb7-064087ff3472-1" target="_blank">Spherical Image - RICOH THETA</a></blockquote>
				<script async src="https://theta360.com/widgets.js" charset="utf-8"></script>
			</div>
			<div id="eventdata">{$data[8]}</div>
			<table id="evedetail">
				<tr><td id="head">開催地</td><td>{$data[11]}</td><td id="head">郵便番号</td><td>{$data[10]}</td></tr>
				<tr><td id="head">開催日</td><td>{$data[13]}</td><td id="head">電話番号</td><td>{$data[9]}</td></tr>
				<tr><td id="head">開催期間</td><td>{$data[14]}</td></tr>
			</table>
			<div id="location" hidden="hidden" data-lat="{$data[6]}" data-lon="{$data[7]}"></div>
			<div id="Map-Body">
				<div id="mapField" style="height:400px;"></div>
			</div>
			<div id="areadata">周辺情報
				<button class="placeSearch-btn" type="button" data-types="convenience_store">コンビニ</button>
				<button class="placeSearch-btn" type="button" data-types="cafe">カフェ</button>
				<button class="placeSearch-btn" type="button" data-types="bus_station">バス停</button>
			</div>
		</div>
	</body>
</html>

		<!--<ul> csvの中身を順に出力している
			{foreach from=$data item=d}
				<li>{$d}</li>
			{/foreach}
		</ul>-->