<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
    	<link rel="stylesheet" href="css\register.css" type="text/css" media="screen">
	<title>	イベント登録</title>
</head>
<body>
	<div id="background">
        <div id="registData">
            <p id="title"><img src="img/icon/title.png"> </p>
            <p id="name"><label><input class="name" type="text" size="79"name="name" placeholder="イベント名"></label><br></p>
            <div class="textbox"><p d="year" style="display:inline-block;"><input class="year" style="display:inline;" size="22"type="text" name="year" placeholder="西暦 yyyy">
           <p id="mont"> <input  class="month" style="display:inline;"  style="float:left;"size="23"type="text" name="" placeholder="月 mm"> 
           <p id="day"><input class="day" style="display:inline;" style="float:left;"size="23" type="text" name="day" placeholder="日 dd"></div>
	        <p id="time1"><label><input class="time1" type="text"size="36" name="telNumber" placeholder="00時"></label>
           <label>~<input class="time2" type="tel"size="36" name="telNumber" placeholder="12時"></label>
           <p id="textarea"><label><textarea class="textarea" name="テキストエリア"rows="10" cols="80"wrap="hard"placeholder="内容を書き込みます。"></textarea></label></p>
           <div id="button"> <a href=""> <img src="img/icon/sub.png">
        </div>
        </div>
    </div>

</body>
